.right-Adv{
    margin-top: 15px;
    height: 240px;

    border-radius: 8px;
    border-style: solid;
    border: 0.8px solid rgba(167, 167, 167, 0.348);

    background-image: url('../../images/body/right-adv/28aaad16ed7312aa5295_20230823172810248.png');
    background-repeat: no-repeat;
    content: '';
    background-size: 418px 238px;
    background-position: 0 0; 
}