.sp-bg{
    background-image: url('../../images/icons/sp_main.89f0d213.png');
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    background-size: 434px 422px;
    background-position: 0 0; 
}

.sp_cluster{
    background-image: url('../../images/icons/sp_cluster_counter.png');
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    background-size: 10px 38px;
    background-position: 0 0; 
}

.delete-LinkOptions{
    text-decoration-line: none;
    color: inherit; 
}

#dot::before{
    content: '\00B7';
    color: rgba(158, 158, 158, 0.635);
    margin: 0px 6px;

    font-weight: 900;

    display: inline-block;
    text-decoration: none;
}

#underLine{
    :hover{
        text-decoration: underline;
    }
}

#line{
    height: 1px;
    border-top: 0.1px solid rgba(167, 167, 167, 0);
}

.News{
    height: 430px;

    margin-top: 15px;
    border-radius: 8px;
    border: 0.8px solid rgba(167, 167, 167, 0.348);
    
    #selectBox{
        width: auto;
        background-color: white;
        padding: 18px 20px 17px 20px;

        font-weight: 1000;
        font-size: 17px;
        color : gray;

        display: flex;
        flex : 1;

        list-style-type: none;

        .hover-false{
            @extend .delete-LinkOptions;
        }

        .hover-true{
            text-decoration: underline;
            @extend .delete-LinkOptions;
        }
            
        #edit{
            @extend #underLine;
        }

        #edit::before{
            content: '\00B7';
            color: rgb(217, 217, 217);
            margin: 0px 5px;

            display: inline-block;
        }

        #slash{
            @extend #underLine;
        }

        #slash::before{
            content: '/';
            color: rgb(217, 217, 217);
            margin: 0px 10.5px 0px 10.5px;

            font-weight: 300;

            display: inline-block;
            text-decoration: none;
        }

        p{
            float: left;
        }
    }

    #middle-Bar{
        background-color: rgba(229, 237, 237, 0.518);
        width: auto;

        margin: 0px 20px;
        padding: 16px 20px;

        border-radius: 3px;

        font-weight: 550;
        font-size: 14.5px;

        display: flex;
        flex : 1;

        #triangle-Icon{
            @extend .sp-bg;

            background-position: -133px -201px;
    
            width: 8px;
            height: 5px;

            margin-left: 4px;
            margin-bottom: 3px;

            display: inline-block;
            text-decoration: none;
        }

        .hover-false{
            @extend .delete-LinkOptions;
        }

        .hover-true{
            text-decoration: underline;
            @extend .delete-LinkOptions;
        }

        #officeName::before{         
            content : "";
            display: inline-block;
            width: 1px;
            height: 11px;
            background-color: rgba(158, 158, 158, 0.635);
            margin: 3px 12px 0;
            vertical-align: top;
        }

        #stand-content::before{
            @extend #dot;
        }

        #edit-content::before{
            @extend #dot;
        }

        #home::before{
            content : "";
            display: inline-block;
            width: 1px;
            height: 11px;
            background-color: rgba(158, 158, 158, 0.635);
            margin: 3px 12px 0;
            vertical-align: top;
        }

        #selects{
            color : rgb(66, 66, 66)
        }
    }

    #middle-Content{
        //background-color: red;
        margin: 18px 20px;
        height: 56*4px;


        #stand{
            #grid{
                position: relative;

                .widthGrid{
                    background-color: rgba(167, 167, 167, 0.348);
                    position: absolute;
                    width: 787px;
                    height: 1px;
                    left: 0px;
                    right: 0px;
                }

                .widthGrid1{
                    @extend .widthGrid;
                    top : 56px;
                }

                .widthGrid2{
                    @extend .widthGrid;
                    top : 112px;
                }

                .widthGrid3{
                    @extend .widthGrid;
                    top : 168px;
                }

                .heightGrid{
                    background-color: rgba(167, 167, 167, 0.348);
                    position: absolute;
                    width: 1px;
                    height: 56*4-2px;
                    top: 0px;
                    bottom: 0px;
                }

                .heightGrid1{
                    @extend .heightGrid;
                    left :131px
                }

                .heightGrid2{
                    @extend .heightGrid;
                    left :262px
                }

                .heightGrid3{
                    @extend .heightGrid;
                    left :393px
                }

                .heightGrid4{
                    @extend .heightGrid;
                    left :524px
                }

                .heightGrid5{
                    @extend .heightGrid;
                    left :655px
                }
            }

            #office-icon{
                float: left;
                width: 16.66%;
                height: 56px;

                padding: 18px 0px;
                text-align: center;
            }

            #BlueBox{
                background-color: rgb(40, 104, 242);
                float: left;
                width: 16.66%;
                height: 56px;

                padding: 18px 0px;
                text-align: center;

                color: white;
                font-size: 15px;
                font-weight: 650;

                #gnbStyle::before{         
                    content : "";
                    display: inline-block;
                    width: 1px;
                    height: 11px;
                    background-color: rgba(255, 255, 255, 0.635);
                    margin: 4px 8px 0;
                    vertical-align: top;
                }

                .hover-false{
                    @extend .delete-LinkOptions;
                }
        
                .hover-true{
                    text-decoration: underline;
                    font-weight: 750;
                    @extend .delete-LinkOptions;
                }       
            }
        }

        #edit{
            display: flex;
            flex: 1;
            
            #content-up{

            }

            #content-down{
                margin-top: 16px;
            }

            #content-left{
                margin-right: 16px;
            }

            #content-right{
                position: relative;
            }
            
            #frame{
                .hover-false{
                    @extend .delete-LinkOptions;
                }
        
                .hover-true{
                    text-decoration: underline;
                    @extend .delete-LinkOptions;
                }

                width: 388px;
                height: 104px;
                display: flex;

                position: relative;
                overflow: hidden;
                margin: 0px auto;
                #img-Box{
                    //margin-right: 2px;
                    img{
                        width: 156px;
                        height: 104px;
                        border-radius: 5px;
                        margin: 0px auto;
                    } 
                }

                #content-Box{
                    //background-color: green;
                    margin-left: 16px;

                    #bar{
                        display: flex;
                        flex: 1;
                        margin-top: 5px;
                        #icon{
                            border: 1px solid rgba(167, 167, 167, 0.348);
                            border-radius:90px;
                            width: 24px;
                            height: 24px;
                        }
    
                        #icon-text{
                            font-weight: 700;
                            font-size: 13px;
                            margin-top: 5px;
                            margin-left: 5px;
                        }
    
                        #subscible-Button{
                            position: relative;
                            background-color: white;
                            border: 1px solid rgba(124, 152, 235, 0.563);
                            border-radius:90px;


                            margin-left: 88px;
    
                            width: 50px;
                            height: 26px;
    
                            p{
                                color : rgba(38, 81, 210, 0.911);
                                font-size: 12px;
                                font-weight: 800;    
                            }
                        }
    
                        #subscible-Button:hover{
                            background-color: rgba(127, 156, 251, 0.093);
                            border: 1px solid rgba(124, 152, 235, 0.563);
                            border-radius:90px;
    
                            width: 50px;
                            height: 26px;
    
                            p{
                                color : rgba(38, 81, 210, 0.911);
                                font-size: 12px;
                                font-weight: 800;    
                            }
                        }
                    }

                    #content{
                        width: auto;
                        margin-top: 5px;
                        padding-bottom: 6px;
                        text-align: left;
                        line-height: 21px;
                        p{
                            font-size: 15px;
                            font-weight: 600;  
                        }
                    }


                    #date{
                        float: left;
                        p{
                            color: rgb(96, 96, 96);
                            font-size: 13px;
                            font-weight: 600;  
                        }
                    }
                }
            }

            #frame:hover{
                #img-Box img{
                    transform: scale(1.03);                       
                }
            }
        }

        #enter{
            display: flex;
            flex: 1;
            
            #content-up{

            }

            #content-down{
                margin-top: 16px;
            }

            #content-left{
                margin-right: 20px;
            }

            #content-right{
                margin-top: 9px;
                position: relative;
            }

            .dot::before{
                content: '\00B7';
                color: rgba(158, 158, 158, 0.635);
                margin: 0px 6px;
    
                font-weight: 900;
    
                display: inline-block;
                text-decoration: none;
            }
            
            #content-Box-frame{

                .hover-false{
                    @extend .delete-LinkOptions;
                }
        
                .hover-true{
                    text-decoration: underline;
                    @extend .delete-LinkOptions;
                }

                width: 385px;
                height: 104px;
                display: flex;

                position: relative;
                overflow: hidden;
                margin: 0px auto;

                #img-Box{
                    //margin-right: 2px;
                    img{
                        width: 185px;
                        height: 104px;
                        border-radius: 5px;
                        margin: 0px auto;
                    } 
                }

                #content-Box{
                    display: block;/* 블록태그로 만들어준다 */
                    margin-left: 16px;
                    padding: 13px 0px;
                    width: 300px;

                    #content{
                        width: 178px;
                        display: block;

                        overflow: hidden;
                        text-overflow: ellipsis;

                        height: 47px;
                        margin-top: 5px;
                        padding-bottom: 6px;
                        text-align: left;
                        line-height: 21px;
                        p{
                            font-size: 14px;
                            font-weight: 600;  
                        }
                    }

                    #inform{
                        width: 184px;
                        color: rgb(96, 96, 96);
                        font-size: 13px;
                        font-weight: 600;

                        position: relative;
                        display: flex;

                        flex: 1;
                        #date{
                            float: left;

                        }

                        #icon{
                            @extend .sp_cluster;

                            background-position: 0px 0px;
                            
                            position: absolute;

                            top :3px;
                            right: 8px;
                            
                            float: right;
                            width: 11px;
                            height: 19px;

                            color: #e2458f;

                            margin: -2px 5px 0 0;

                            .num{
                                background-repeat: repeat-x;
                                text-align: center;
                                position: relative;
                                right: 3px;
                            }

                            float: left;
                            line-height: 15px;
                            font-size: 11px;
                            font-family: Helvetica,Arial,'나눔고딕',NanumGothic,'맑은 고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',sans-serif;
                            white-space: nowrap;
                            background-repeat: repeat-x;
                        }

                        #icon::before{
                            @extend .sp_cluster;

                            background-position: 0px -20px; 
                            width: 4px;
                            height: 19px;

                            position: relative;
                            right: 4px;

                            margin-bottom: -2px;
                            padding-bottom: 2px;

                            display: inline-block;
                            vertical-align: top;
                            height: 15px;
                            margin-bottom: -2px;
                            padding-bottom: 2px;
                        }

                        #icon::after{
                            @extend .sp_cluster;
                            
                            background-position: -6px -20px; 
                            width: 5px;
                            height: 22px;

                            position: relative;
                            left: 1px;

                            margin-bottom: -2px;
                            padding-bottom: 2px;

                            display: inline-block;
                            vertical-align: top;
                            height: 15px;
                            margin-bottom: -2px;
                            padding-bottom: 2px;
                        }
                    }
                }

            }

            #content-Box-frame:hover{
                #img-Box img{
                    transform: scale(1.03);                       
                }
            }

            ul{
                overflow: hidden;
                font-size: 14px;
                line-height: 21px;
                font-weight: 600;  

                li{
                    margin-top: 17px;
                }

                li:first-child{
                    padding-top: 0px;
                    margin-top: 0px;
                }
            }
                 
            #content-List-frame{
                .hover-false{
                    @extend .delete-LinkOptions;
                }
        
                .hover-true{
                    text-decoration: underline;
                    @extend .delete-LinkOptions;
                }

                width: 385px;
                display: flex;

                position: relative;
                margin: 0px auto;

                padding-right: 42px;

                #content{
                    width: auto;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                #officeName{
                              
                    white-space: nowrap;
                    color: rgb(96, 96, 96);
                    font-size: 13px;
                    font-weight: 600;  
                }

                #officeName::before{
                    @extend #dot;
                }
                
                #iconBox{
                    position: absolute;
                    top: -2px;
                    right: 5px;
                    z-index: 0;
                    padding: 5px;
                    text-decoration: none;

                    #icon{
                        @extend .sp_cluster;

                        background-position: 0px 0px;
                        
                        position: relative;

                        top :3px;  
                        right: 0px;
                        
                        float: right;
                        width: 11px;
                        height: 19px;

                        color: #e2458f;

                        margin: -2px 5px 0 0;

                        .num{
                            background-repeat: repeat-x;
                            text-align: center;
                            position: relative;
                            right: 3px;
                        }

                        float: left;
                        line-height: 15px;
                        font-size: 11px;
                        font-family: Helvetica,Arial,'나눔고딕',NanumGothic,'맑은 고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',sans-serif;
                        white-space: nowrap;
                        background-repeat: repeat-x;
                    }

                    #icon::before{
                        @extend .sp_cluster;

                        background-position: 0px -20px; 
                        width: 4px;
                        height: 19px;

                        position: relative;
                        right: 4px;

                        margin-bottom: -2px;
                        padding-bottom: 2px;

                        display: inline-block;
                        vertical-align: top;
                        height: 15px;
                        margin-bottom: -2px;
                        padding-bottom: 2px;
                    }

                    #icon::after{
                        @extend .sp_cluster;
                        
                        background-position: -6px -20px; 
                        width: 5px;
                        height: 22px;

                        position: relative;
                        left: 1px;

                        margin-bottom: -2px;
                        padding-bottom: 2px;

                        display: inline-block;
                        vertical-align: top;
                        height: 15px;
                        margin-bottom: -2px;
                        padding-bottom: 2px;
                    }
                }
                
            }
        }

        #sports{
            display: flex;
            flex: 1;
            
            #content-up{

            }

            #content-down{
                margin-top: 16px;
            }

            #content-left{
                margin-right: 20px;
            }

            #content-right{
                margin-top: 9px;
                position: relative;
            }

            .dot::before{
                content: '\00B7';
                color: rgba(158, 158, 158, 0.635);
                margin: 0px 6px;
    
                font-weight: 900;
    
                display: inline-block;
                text-decoration: none;
            }
            
            #content-Box-frame{

                .hover-false{
                    @extend .delete-LinkOptions;
                }
        
                .hover-true{
                    text-decoration: underline;
                    @extend .delete-LinkOptions;
                }

                width: 385px;
                height: 104px;
                display: flex;

                position: relative;
                overflow: hidden;
                margin: 0px auto;

                #img-Box{
                    //margin-right: 2px;
                    img{
                        width: 185px;
                        height: 104px;
                        border-radius: 5px;
                        margin: 0px auto;
                    } 
                }

                #content-Box{
                    display: block;/* 블록태그로 만들어준다 */
                    margin-left: 16px;
                    padding: 13px 0px;
                    width: 300px;

                    #content{
                        width: 178px;
                        display: block;

                        overflow: hidden;
                        text-overflow: ellipsis;

                        height: 46px;
                        margin-top: 5px;
                        padding-bottom: 7px;
                        text-align: left;
                        line-height: 21px;
                        p{
                            font-size: 14px;
                            font-weight: 600;  
                        }
                    }

                    #inform{
                        width: 184px;
                        color: rgb(96, 96, 96);
                        font-size: 13px;
                        font-weight: 600;

                        position: relative;
                        display: flex;

                        flex: 1;
                        #date{
                            float: left;

                        }

                        #icon{
                            @extend .sp_cluster;

                            background-position: 0px 0px;
                            
                            position: absolute;

                            top :3px;
                            right: 8px;
                            
                            float: right;
                            width: 11px;
                            height: 19px;

                            color: #e2458f;

                            margin: -2px 5px 0 0;

                            .num{
                                background-repeat: repeat-x;
                                text-align: center;
                                position: relative;
                                right: 3px;
                            }

                            float: left;
                            line-height: 15px;
                            font-size: 11px;
                            font-family: Helvetica,Arial,'나눔고딕',NanumGothic,'맑은 고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',sans-serif;
                            white-space: nowrap;
                            background-repeat: repeat-x;
                        }

                        #icon::before{
                            @extend .sp_cluster;

                            background-position: 0px -20px; 
                            width: 4px;
                            height: 19px;

                            position: relative;
                            right: 4px;

                            margin-bottom: -2px;
                            padding-bottom: 2px;

                            display: inline-block;
                            vertical-align: top;
                            height: 15px;
                            margin-bottom: -2px;
                            padding-bottom: 2px;
                        }

                        #icon::after{
                            @extend .sp_cluster;
                            
                            background-position: -6px -20px; 
                            width: 5px;
                            height: 22px;

                            position: relative;
                            left: 1px;

                            margin-bottom: -2px;
                            padding-bottom: 2px;

                            display: inline-block;
                            vertical-align: top;
                            height: 15px;
                            margin-bottom: -2px;
                            padding-bottom: 2px;
                        }
                    }
                }

            }

            #content-Box-frame:hover{
                #img-Box img{
                    transform: scale(1.03);                       
                }
            }

            ul{
                overflow: hidden;
                font-size: 14px;
                line-height: 21px;
                font-weight: 600;  

                li{
                    margin-top: 17px;
                }

                li:first-child{
                    padding-top: 0px;
                    margin-top: 0px;
                }
            }
                 
            #content-List-frame{
                .hover-false{
                    @extend .delete-LinkOptions;
                }
        
                .hover-true{
                    text-decoration: underline;
                    @extend .delete-LinkOptions;
                }

                width: 385px;
                display: flex;

                position: relative;
                margin: 0px auto;

                padding-right: 42px;

                #content{
                    width: auto;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                #officeName{
                              
                    white-space: nowrap;
                    color: rgb(96, 96, 96);
                    font-size: 13px;
                    font-weight: 600;  
                }

                #officeName::before{
                    @extend #dot;
                }
                
                #iconBox{
                    position: absolute;
                    top: -2px;
                    right: 5px;
                    z-index: 0;
                    padding: 5px;
                    text-decoration: none;

                    #icon{
                        @extend .sp_cluster;

                        background-position: 0px 0px;
                        
                        position: relative;

                        top :3px;  
                        right: 0px;
                        
                        float: right;
                        width: 11px;
                        height: 19px;

                        color: #e2458f;

                        margin: -2px 5px 0 0;

                        .num{
                            background-repeat: repeat-x;
                            text-align: center;
                            position: relative;
                            right: 3px;
                        }

                        float: left;
                        line-height: 15px;
                        font-size: 11px;
                        font-family: Helvetica,Arial,'나눔고딕',NanumGothic,'맑은 고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',sans-serif;
                        white-space: nowrap;
                        background-repeat: repeat-x;
                    }

                    #icon::before{
                        @extend .sp_cluster;

                        background-position: 0px -20px; 
                        width: 4px;
                        height: 19px;

                        position: relative;
                        right: 4px;

                        margin-bottom: -2px;
                        padding-bottom: 2px;

                        display: inline-block;
                        vertical-align: top;
                        height: 15px;
                        margin-bottom: -2px;
                        padding-bottom: 2px;
                    }

                    #icon::after{
                        @extend .sp_cluster;
                        
                        background-position: -6px -20px; 
                        width: 5px;
                        height: 22px;

                        position: relative;
                        left: 1px;

                        margin-bottom: -2px;
                        padding-bottom: 2px;

                        display: inline-block;
                        vertical-align: top;
                        height: 15px;
                        margin-bottom: -2px;
                        padding-bottom: 2px;
                    }
                }
                
            }
        }

        #economic{
            display: flex;
            flex: 1;
            
            #content-up{

            }

            #content-down{
                margin-top: 16px;
            }

            #content-left{
                margin-right: 20px;
            }

            #content-right{
                position: relative;
            }

            .dot::before{
                content: '\00B7';
                color: rgba(158, 158, 158, 0.635);
                margin: 0px 6px;
    
                font-weight: 900;
    
                display: inline-block;
                text-decoration: none;
            }

            #content-Box-frame{

                .hover-false{
                    @extend .delete-LinkOptions;
                }
        
                .hover-true{
                    text-decoration: underline;
                    @extend .delete-LinkOptions;
                }

                width: 385px;
                height: 104px;
                display: flex;

                position: relative;
                overflow: hidden;
                margin: 0px auto;

                #img-Box{
                    //margin-right: 2px;
                    img{
                        width: 185px;
                        height: 104px;
                        border-radius: 5px;
                        margin: 0px auto;
                    } 
                }

                #content-Box{
                    display: block;/* 블록태그로 만들어준다 */
                    margin-left: 16px;
                    padding: 13px 0px;
                    width: 300px;

                    #content{
                        width: 178px;
                        display: block;

                        overflow: hidden;
                        text-overflow: ellipsis;

                        height: 46px;
                        margin-top: 5px;
                        padding-bottom: 7px;
                        text-align: left;
                        line-height: 21px;
                        p{
                            font-size: 14px;
                            font-weight: 600;  
                        }
                    }

                    #inform{
                        width: 184px;
                        color: rgb(96, 96, 96);
                        font-size: 13px;
                        font-weight: 600;

                        position: relative;
                        display: flex;

                        flex: 1;
                        #date{
                            float: left;

                        }

                        #icon{
                            @extend .sp_cluster;

                            background-position: 0px 0px;
                            
                            position: absolute;

                            top :3px;
                            right: 8px;
                            
                            float: right;
                            width: 11px;
                            height: 19px;

                            color: #e2458f;

                            margin: -2px 5px 0 0;

                            .num{
                                background-repeat: repeat-x;
                                text-align: center;
                                position: relative;
                                right: 3px;
                            }

                            float: left;
                            line-height: 15px;
                            font-size: 11px;
                            font-family: Helvetica,Arial,'나눔고딕',NanumGothic,'맑은 고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',sans-serif;
                            white-space: nowrap;
                            background-repeat: repeat-x;
                        }

                        #icon::before{
                            @extend .sp_cluster;

                            background-position: 0px -20px; 
                            width: 4px;
                            height: 19px;

                            position: relative;
                            right: 4px;

                            margin-bottom: -2px;
                            padding-bottom: 2px;

                            display: inline-block;
                            vertical-align: top;
                            height: 15px;
                            margin-bottom: -2px;
                            padding-bottom: 2px;
                        }

                        #icon::after{
                            @extend .sp_cluster;
                            
                            background-position: -6px -20px; 
                            width: 5px;
                            height: 22px;

                            position: relative;
                            left: 1px;

                            margin-bottom: -2px;
                            padding-bottom: 2px;

                            display: inline-block;
                            vertical-align: top;
                            height: 15px;
                            margin-bottom: -2px;
                            padding-bottom: 2px;
                        }
                    }
                }

            }

            #content-Box-frame:hover{
                #img-Box img{
                    transform: scale(1.03);                       
                }
            }

            ul{
                overflow: hidden;
                font-size: 14px;
                line-height: 16px;
                font-weight: 600;  
                margin-top: 15px;

                li{
                    margin-top: 17px;
                }

                li:first-child{
                    padding-top: 0px;
                    margin-top: 0px;
                }
            }
                 
            #content-List-frame{
                .hover-false{
                    @extend .delete-LinkOptions;
                }
        
                .hover-true{
                    text-decoration: underline;
                    @extend .delete-LinkOptions;
                }

                width: 385px;
                display: flex;

                position: relative;
                margin: 0px auto;

                #content{
                    width: auto;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }     
            }

            #head-line{
                margin-top: 14px;
                color: rgb(92, 92, 92);
                font-weight: 600;
                text-align: left;
                font-size: 13px;
            }

            #inform-Box{
                .hover-false{
                    @extend .delete-LinkOptions;
                }
        
                .hover-true{
                    text-decoration: underline;
                    @extend .delete-LinkOptions;
                }

                display: flex;
                margin-bottom: 15px;

                #economic-Inform{
                    text-align: left;
                    
                    #informs{
                        padding: 0px 26px 0px 16px;
                        
                        display: block;

                        p{
                            //margin-left: 16px;
                        }
    
                        #name{
                            width: 91px;
                            font-weight: 600;
                            font-size: 13px;
                        }
                        
                        #value{
                            width: 91px;
                            font-weight: 600;
                            font-size: 17px;
                            padding: 5px 0px;
                        }
                    }

                    #informs-lastchild{
                        @extend #informs;
                        padding: 0px 16px 0px 16px;
                    }

                    #incrementBox{
                        width: 68px;

                        margin-top: 4px;
                        padding: 5px 0px;

                        border-radius: 5px;

                        text-align: center;
                        font-size: 12px;
                        font-weight: 700;
                        color: rgb(225, 58, 58);
                        background-color: rgba(252, 234, 234, 0.74);
                    }
                }

                #economic-Inform::before{
                    float: left;
                    content : "";
                    display: inline-block;
                    width: 2px;
                    height: 72px;
                    background-color: rgba(237, 112, 112);
                    vertical-align: top;
                }
            }
        }
    }

    #foot-Bar{
        width: auto;
        margin: 0px auto;
        padding: 10px 0px;
        text-align: center;
        position: relative;

        #button-shape{
            width: 36px;
            height: 36px;
            background-color: white;
            border: 0.8px solid rgba(167, 167, 167, 0.348);
            border-radius: 50px;
            position: relative;
            display: inline-block;
            vertical-align: top;
            box-shadow: 0px 1px 4px 0.01px rgba(130, 130, 130, 0.111);
        }

        #button-shape:hover{
            background-color: rgba(206, 206, 206, 0.111);
            box-shadow: 0px 1px 5px 0.5px rgba(0, 0, 0, 0.111); 
        }

        .left-Button::before{
            margin: 11px;
            @extend .sp-bg;
            background-position: -72px -389px;
            width: 8px;
            height: 12px;
            transform: scaleX(-1);
        }

        .left-Button:hover::before{
            margin: 11px;
            @extend .sp-bg;
            background-position: -61px -389px;
            width: 8px;
            height: 12px;
        }

        .right-Button::before{
            margin: 11px;
            @extend .sp-bg;
            background-position: -72px -389px;
            width: 8px;
            height: 12px;
        }
        
        .right-Button:hover::before{
            margin: 11px;
            @extend .sp-bg;
            background-position: -61px -389px;
            width: 8px;
            height: 12px;
        }

        #text-Box{
            display: inline-block;
            position: relative;
            padding: 8px 30px;

            .font-Blue{
                color: rgb(46, 91, 226);
            }

            .font-Pink{
                color: rgb(229, 56, 226);
            }

            .font-DarkGray{
                color: rgb(94, 94, 94);
            }

            .font-Gray{
                color: darkgray;
            }

            p{
                font-weight: 700;
                font-size: 14px;
                position: relative;
                display: inline-block;
            }
        }
        
    }
}