.left-Top-Adv{
    height: 130px;

    border-radius: 8px;
    border: 0.8px solid rgba(167, 167, 167, 0.348);

    background-image: url('../../images/body/left-top-adv/a70e5d387313bf6b79e6_20230824142319539.jpg');
    background-repeat: no-repeat;
    content: '';
    background-size: 829px 130px;
    background-position: 0 0; 
}