* {
    margin:0;
    padding: 0;
}

*,*::before, *::after{
    box-sizing: border-box;
}

.button-invisible {
    border: 0;
    background-color: transparent;
}

.body{
    //background-color: rgb(32, 167, 151); 
    width: auto;
    height: 3900px;
    margin-left: 30px;
    margin-right: 30px;
    
    position: static;
    
    #left-Body{
        width: 830px;
        float: left;
    }
    
    #right-Body{
        margin-left: 30px;
        width: 420px;
        //background-color: yellow;
        float: left;
    }
}