* {
    margin:0;
    padding: 0;
}

*,*::before, *::after{
    box-sizing: border-box;
}

.button-invisible {
    border: 0;
    background-color: transparent;
}

.sp-bg{
    background-image: url('../../images/icons/sp_main.89f0d213.png');
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    background-size: 434px 422px;
    background-position: 0 0; 
}

.header{
    background-color: rgb(255, 255, 255); 
    width: auto;
    height: 262px;
}

#body{
    background-color: red;
    width: auto;
    height: 50%;
}

.bar{
    //background-color: yellow;
    width: auto;
    height: 65px;
    
    .hover-icon{
        background-color: rgba(0, 0, 0, 0.056);
        border-radius: 50px;
        width: 45px;
        height: 45px;
    }

    #shortCut{
        position: absolute;

        top: 15px;
        left: 18px;

        width: 50px;
        height: 50px;

        .shortCut-Button{
            @extend .button-invisible;
            @extend .sp-bg; 
            background-position: -364px -3px; 
            width: 26px;
            height: 20px;
            position: relative;

            top: 16px;
            left: 0px;
        }
    }

    #naverPay{
        position: absolute;

        top: 15px;
        left: 70px;

        width: 50px;
        height: 50px;

        .naverPay-Button{
            @extend .button-invisible;
            @extend .sp-bg; 
            background-position: -32px -316px;
    
            width: 28px;
            height: 25px;
            position: relative;

            top: 13px;
            left: 0px;
        }
    }

    #naverTalk{
        position: absolute;

        top: 15px;
        right: 68px;

        width: 50px;
        height: 50px;

        .naverTalk-Button{
            @extend .button-invisible;
            @extend .sp-bg; 
            background-position: -364px -108px;

            width: 26px;
            height: 26px;

            position: relative;

            top: 13px;
            right: 0px;
        }
    }

    #bell{
        position: absolute;

        top: 15px;
        right: 18px;

        width: 50px;
        height: 50px;
        
        float: right;

        .bell-Button{
            @extend .button-invisible;
            @extend .sp-bg; 
            background-position: -364px -54px;
    
            width: 26px;
            height: 26px;

            position: relative;

            top: 13px;
            left: 0px;
        }
    }

    .right-button{
        float :right;
        width: 40px;
        height: 40px;

        margin-top: 27px;
        margin-right: 30px;
    }

    #iconPanel{
        position: absolute;
        width: 45px;
        height: 45px;

        left: -10px;
        top :-10px;

        border-radius: 50px;

        background-color: rgba(0, 0, 0, 0.047);

        .panel-Arrow{
            @extend .sp-bg; 
            background-position: -124px -154px;

            width: 20px;
            height: 11px;

            transform: scaleY(-1);
            
            position: absolute;
            top :40px;
            left: 12px;
        }

        .panel-Box{
            width: 80px;
            height: 40px;

            border-radius: 45px;
            border-style:solid;
            border-top-width: 1px;
            border-bottom-width: 1px;
            border-right-width: 1px;
            border-left-width: 1px;
            border-color: rgb(4, 195, 36);

            position: absolute;
            top:50px;
            left: -18px;

            box-shadow:0px 0.8px 0.8px 0.8px #a8a8a853;
            p{
                font-size: 13px;
                text-align: center;
                margin-top: 11.5px;
            }
        }
    }
}

.search{
    //background-color: aqua;
    width: auto;
    height: 60px;

    .search-Box{
        //background-color: white;
        
        display: inline-block;
        
        width: 710px;
        height: 60px;
        
        border-radius: 45px;
        border-style:solid;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-right-width: 1px;
        border-left-width: 1px;
        border-color: rgb(4,196,92);

        
        .search-logo{
            @extend .button-invisible;
            @extend .sp-bg; 
            background-position: -391px -25px;
            
            float :left;
            align-items:center;

            width: 25px;
            height: 25px;
            margin-left: 27px;
            margin-top: 17px;
        }

        .search-line{
            float :left;
            border : -.1px solid rgb(179, 179, 179);
            width: 0.05px;
            height: 20px;
            
            margin-top: 20px;
            margin-left: 15px;
        }

        .search-input{
            float: left;
            width: 500px;
            height: 60px;
            border: none;
            outline: none;
            background : transparent; 
            font-size: 21px;
            margin-left: 15px;
        }

        .search-keyboard{
            @extend .button-invisible;
            @extend .sp-bg; 
            background-position: -50px -270px;

            width: 24px;
            height: 15px;
            
            float :left;
            align-items:center;
            margin-top: 20px;
            margin-left: 10px
        }
        .search-keyboard-Hover{
            @extend .button-invisible;
            @extend .sp-bg; 
            background-position: -270px -234px;

            width: 24px;
            height: 15px;
            
            float :left;
            align-items:center;
            margin-top: 20px;
            margin-left: 10px;

            .keyboard-Box{
                width: 63px;
                height: 26px;
    
                border-radius: 5px;
                border-style:solid;
                border-top-width: 1px;
                border-bottom-width: 1px;
                border-right-width: 1px;
                border-left-width: 1px;
                border-color: rgb(4,196,92);

                background-color: rgba(4,206,92,255);
    
                position: relative;
                top:27px;
                left: -18px;
    
                box-shadow:0px 0.8px 0.8px 0.8px #a8a8a853;
                p{
                    font-size: 12px;
                    text-align: center;
                    margin-top: 11.5px;
                    color: white;

                    position: relative;
                    bottom: 8px;
                }
            }

            .keyboard-Arrow{
                @extend .sp-bg; 
                background-position: -323px -174px;

                width: 9px;
                height: 6px;

                transform: scaleY(-1);
                
                position: relative;
                bottom: 9px;
            }
        }

        .search-arrow{
            @extend .button-invisible;
            @extend .sp-bg; 
            background-position: -323px -174px;
            float :left;
            align-items:center;
            width: 9px;
            height: 6px;
            
            margin-left: 12px;
            margin-top: 25px;
            
        }

        .search-search{
            @extend .button-invisible;
            @extend .sp-bg; 
            background-position: -364px -213px;
            float :left;
            align-items:center;
            width: 25px;
            height: 25px;
            
            margin-left: 17px;
            margin-top: 16px;
        }
    }

    .search-Box:hover{
        box-shadow:0px 0.8px 0.8px 0.8px #a8a8a853;    
    }
}

.menu{
    //background-color:burlywood;
    width: auto;
    height: auto;

    .menu-list{
        //background-color: white;
        display: inline-block;
        width: 700px;
        height: 90px;

        .menu-button{
            @extend .button-invisible;
            width: 50px;
            height: 70px;

            margin-left: 9px;
            margin-right: 9px;
            margin-top: 10px;

            p{
                margin-top: 5px;
                margin-left: 5px;
                font-size: 14px;
            }

            $icon-width : 34px;
            $icon-height : 34px;

            $icon-margin : 8px 5px 0px 5px;

            .Frame{
                @extend .sp-bg; 
                background-position: 0 -128px;

                width: 53px;
                height: 53px;
            }

            .mail{
                @extend .sp-bg;
                width: $icon-width;
                height: $icon-height;   
                background-position: -254px -95px;

                margin: $icon-margin;
            }

            .cafe{
                @extend .sp-bg;
                width: $icon-width;
                height: $icon-height;   
                background-position: -255px -5px;

                margin: $icon-margin;
            }

            .blog{
                @extend .sp-bg;
                width: $icon-width;
                height: $icon-height;  
                background-position: -205px -102px;

                margin: $icon-margin;
            }

            .shopping{
                @extend .sp-bg;
                width: $icon-width;
                height: $icon-height;  
                background-position: -94.5px -213px;

                margin: $icon-margin;
            }
            .news{
                @extend .sp-bg;
                width: $icon-width;
                height: $icon-height;   
                background-position: -4.5px -213.5px;

                margin: $icon-margin;
            }

            .stock{
                @extend .sp-bg;
                width: $icon-width;
                height: $icon-height;   
                background-position: -185px -213px;

                margin: $icon-margin;
            }

            .estate{
                @extend .sp-bg;
                width: $icon-width;
                height: $icon-height;  
                background-position: -50px -212px;

                margin: $icon-margin;
            }

            .map{
                @extend .sp-bg;
                width: $icon-width;
                height: $icon-height;   
                background-position: -206px -5px;

                margin: $icon-margin;
            }

            .webtoon{
                @extend .sp-bg;
                width: $icon-width;
                height: $icon-height;   
                background-position: -230px -213px;

                margin: $icon-margin;
            }
            .etc{
                @extend .sp-bg;
                width: 20px;
                height: 4px;  
                background-position: -262px -155px;

                margin: 25px 5px 0px 5px;
            }
        }

        .menu-button:hover{
            .Frame{
                background-position: -143.5px -1px;

                width: 53px;
                height: 53px;
            }
        }

        .menu-button-ETC{
            @extend .button-invisible;
            width: 50px;
            height: 70px;

            margin-left: 9px;
            margin-right: 9px;

            .Frame{
                @extend .sp-bg; 
                background-position: 0 -128px;

                width: 53px;
                height: 53px;
            }

            .etc{
                @extend .sp-bg;
                width: 20px;
                height: 4px;  
                background-position: -262px -155px;

                margin: 25px 5px 13px 5px;
            }

            .Frame:hover{
                background-position: -143.5px -1px;

                width: 53px;
                height: 53px;

                .etc{
                    @extend .sp-bg;
                    width: 22px;
                    height: 6px;  
                    background-position: -110px -201px;

                    margin: 25px 5px 11px 5px;
                }
            }
        }

    }
}
